* {
  box-sizing: border-box;
}
html {
  background: white;
}
body {
  font-family: "Montserrat", sans-serif;
  color: rgb(78, 77, 77);
  text-align: center;
  font-size: 16px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/*utilities*/
.logo_small {
  border-radius: 50%;
  width: 3.7rem;
}

/*sections styles*/
section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#navbar,
section.even {
  background: rgb(206, 43, 43);
}

/*bar nav*/
#navbar {
  box-shadow: 0px 0px 10px 1px var(--gray3);
}
#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 1px 20px 1px;
}
#navbar div a {
  padding: 2rem;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
#navbar div a:hover {
  color: rgb(104, 20, 20);
  transition: color 0.3s ease, color 0.3s ease;
}

@media (min-width: 0px) and (max-width: 800px) {
  nav span {
    font-size: 0.9rem;
  }
}


/*welcome section*/
#welcome_section {
  width: 100%;
  height: 1000px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 6rem;
}
#welcome_button img {
  width: 9rem;
}
