* {
  box-sizing: border-box;
  text-decoration: none;
  }

html {
  background: white;
}
body {
  font-family: "Montserrat", sans-serif;
  color: rgb(78, 77, 77);
  text-align: center;
  font-size: 16px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/*utilities*/
.logo_small {
  width: 3.7rem;
}

/*sections styles*/
section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#navbar,
section.even {
  background:  #FF0049;
}

/*bar nav*/
#navbar {
  box-shadow: 0px 0px 10px 1px var(--gray3);
}
#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 1px 20px 1px;
}
#navbar div a {
  padding: 2rem;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
#navbar div a:hover {
  color: rgb(104, 20, 20);
  transition: color 0.3s ease, color 0.3s ease;
}

@media (min-width: 0px) and (max-width: 800px) {
  nav span {
    font-size: 0.9rem;
  }
}


/*home*/
#mainSection {
  width: 100%;
  height: 850px;
  padding: 1px 150px 1px 150px;
  background-color: #FF0049;
  display: flex;
  align-items: center;
}
.imgTitleHome{
  width: 280px;
}
.textMain{
  color: white;
  font-size: 30px;
  text-align: left;
  text-align: justify;
}
.divText{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.divImgMain{
  width: 50%;
}

#sectionTwo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.textCollections{
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: 800;
  text-decoration: underline;
  background-color:  #FF0049;
  padding: 185px 30px 190px 30px;
  
}
.textUCY{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 70px;
  font-weight: 800;
  background-color: #FF0049;
  padding: 147px 108px 147px 108px;
  transform: rotate(90deg);
}
.textUCY div{
  text-decoration: none;
}
/*section collections*/
#mainCollections{
  background-image: url("/assets/img/img/Imagen_Colecciones-Fondo.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#mainCollections:before{
  background-image: url("/assets/img/img/Imagen_Colecciones-Fondo.jpg");
  opacity: 0.5;
}
.textMainCollections{
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: 800;
}
.divImgMainCollections{
  display: flex;
  padding: 1px 150px 1px 150px;
  gap: 50px;
}
.divImgMainCollectionsOne{
  display: flex;
  flex-direction: column;
  width: 50%;
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: 500;
  gap: 15px;
}
.divImgMainCollectionsTwo{
  display: flex;
  flex-direction: column;
  width: 50%;
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: 500;
  gap: 15px;
}

/*section Up*/
#sectionUp{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 35px;
}
.imgTitleUp{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 70px;
  font-weight: 800;
  color: #FF0049;
}
.imgTitleUpTwo{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  color: #FF0049;
}
.conteinerInfoUp{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.textMainUp{
  width: 50%;
  font-size: 16px;
  text-align: justify;
}
.divImgMainUp{
  display: flex;
  width: 50%;
  gap: 10px;
  height: 550px;
}

/*section reftion*/
#ref{
  width: 100%;
  display:flex ;
  flex-direction: column;
  align-items: start;
  padding: 0px 0px 80px 380px;
 }
.refTitle{
  font-size: 18px;
  font-weight: 600;
}
.refContent1{
   width: 50%;
   text-align: start;
}
.refContent2{
  width: 50%;
  text-align: start;
}
.refContent3{
  width: 50%;
  text-align: start;
}